* {
    font-family: 'Poopins', sans-serif;
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    background-color: #fecc52;
}
body h1{
    color: #57595c;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 900;
}


header{
    background-color: #FFF;
    border-bottom: 1px solid black ;
}

.row{
    margin: 0;
}

#navbar{
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
}

.nav-item a:hover{
    background-color: #fecc52;
    border: 1px solid #FFF;
    border-radius: 30px;
}

.nav-link:hover{color: #757575 !important;}

.nav-item a{
    font-size: 17px;
    color: #757575;
    border: 1px solid #FFF;
    border-radius: 30px;
}

#navbar img{
    width: 100px;
}

#search-container{
    background-image: url("../img/Estoque.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid black;
}

#search-container h1{
    color: #fecc52;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}

#produtos-container{
    padding: 50px;
}

#produtos-container h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

#cards-container{
    display: flex;
    justify-content: center;
}

#produtos-container .card{
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

.card{
    font-size: 15px;
    background-color: #fecc52;
    color: black;
    border: 1px solid black;
}

#produtos-container p{
    margin: 10px;
    color: black;
    font-size: 20px;
    margin-bottom: 0px;
}

footer{
    text-align: center;
    background-color: #FFF;
    color: #353E48;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
}

footer p{
    margin-bottom: 0;
}

#product-create-container{
    padding: 30px;
}

#product-create-container label{
    color: #353E48;
    font-size: 25px;
    font-weight: bold;
}

#product-create-container input{
    font-size: 20px;
    margin-bottom: 15px;
}

.btn {
    background-color: #353E48;
    border: 1px solid #353E48;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    
}

.btn:hover {
    color: #fecc52;
    background-color: #FFF;
}