* {
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    background-color: #fecc52;
}

body h1{
    color: #57595c;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 900;
}


header{
    background-color: #FFF;
    border-bottom: 1px solid black ;
}

.row{
    margin: 0;
}

#navbar{
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
}

.nav-item a:hover{
    background-color: #fecc52;
    border: 1px solid #FFF;
    border-radius: 30px;
}

.nav-link:hover{color: #757575 !important;}

.nav-item a{
    font-size: 17px;
    color: #757575;
    border: 1px solid #FFF;
    border-radius: 30px;
}

#navbar img{
    width: 100px;
}

#search-container{
    background-image: url("../img/Estoque.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid black;
}

#search-container h1{
    color: #fecc52;
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: 700;
}

#search-container h2{
    color: #fecc52;
    margin-bottom: 30px;
    font-weight: 500;

}

#search-container form{
    width: 50%;
    margin: 0 auto;
}

#produtos-container{
    padding: 50px;
}

#produtos-container h3{
    color: #757575;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 40px;
}

#cards-container{
    display: flex;
    justify-content: center;
}

#produtos-container .card{
    flex: 1 1 24%;
    max-width: 24%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
    background-color: #757575;
}

.card{
    font-size: 15px;
    background-color: #fecc52;
    color: #57595c;
    border: 1px solid black;
}


#produtos-container p{
    margin: 10px;
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
}

footer{
    text-align: center;
    background-color: #FFF;
    color: #353E48;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
}

footer p{
    margin-bottom: 0;
}

#product-create-container{
    padding: 30px;
}

#product-create-container label{
    color: #353E48;
    font-size: 25px;
    font-weight: bold;
}

#product-create-container input{
    font-size: 20px;
    margin-bottom: 15px;
}

.btn {
    border: 1px solid #353E48;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    
}

.btn:hover {
    color: #fecc52;
    background-color: #FFF;
    border: 1px solid black;
}

#btnExclui #btnEdita{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btnEdita{
    margin-right: 50px;
    
}

#btnExclui{
    margin-left: 50px;
}

.msg{
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;

}

#city{
    width: 100%;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;

}